/* Placement Team – Who is Who */
    .placement-team {
        padding: 80px 20px;
        background-color: var(--white);
    }

    .placement-team-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 40px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .placement-team-grid2 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        gap: 40px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .placement-card {
        background: var(--white);
        border-radius: 14px;
        padding: 30px 20px;
        text-align: center;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
        transition: all 0.3s ease;
        border: 2px solid transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .placement-card:hover {
        transform: translateY(-8px);
        border-color: var(--primary-blue);
        box-shadow: 0 15px 40px rgba(0, 82, 163, 0.25);
    }

    .placement-card img {
        width: 120px;
        height: 120px;
        border-radius: 30%;
        object-fit: cover;
        margin-bottom: 15px;
        box-shadow:0px 0px 6px #e3e3e3;
    }

    .placement-card h3 {
        font-size: 18px;
        font-weight: 700;
        color: var(--primary-blue);
        margin-bottom: 6px;
    }

    .designation {
        font-size: 14px;
        color: var(--text-light);
        margin-bottom: 15px;
    }

    .card-divider {
        width: 60px;
        height: 3px;
        background: var(--accent-gold);
        margin: 0 auto 15px;
        border-radius: 5px;
    }

      .contact-icons a i{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: var(--primary-blue);
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        transition: all 0.3s ease;
    }

  

    /* Responsive */
    @media (max-width: 768px) {
        .placement-card {
            padding: 25px 15px;
        }

        .placement-card img {
            width: 100px;
            height: 100px;
        }
    }
    
    .contact-team-grid{
        display: flex;
        align-items: center;
        width: 80%;
        justify-content: center;
        margin: 0 auto;
    }
    .contact-team-grid .placement-card{
        width: 300px;
    }